body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header{
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50x;   
}
.folio{
    color: #04Ae8f;
}
.port{
    color: red;
}
a{
    text-decoration: none;
    color: #04Ae8f;
    padding: 15px;
    font-weight: 900;
}
a:hover{
    color: black;
}

h1{
    font-size: 50px;
}
.v1{
    border-left: 6px solid red;
    padding-left: 10px;
}
#purple-color{
    color: orange;
}
#orange-color{
    color: purple;
}
section{
    display: flex;
    margin-bottom: 100px;

}
.half-class{
    width: 50%;
    padding-left: 5%;

}
.half-class img{
    width: 70%;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(orangered, red);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}
.mission{
    text-align: center;
}
#year{
    color: orange;
}
.div-parents{
    display: flex;
    padding-left: 50px;
    margin: 20px;
    
    
}
.div-parents img{
    width: 50%;

}
.div-1{
    width: 33%;
    background-color: rgb(238, 183, 129);
    margin: 2%;
    padding: 30px 10px;
    border-radius: 20px;
    
}
.div-2{
    width: 33%;
    background-color: rgb(245, 238, 161);
    margin: 2%;
    padding: 30px 10px;
    border-radius: 20px;
}
.div-3{
    width: 33%;
    background-color: rgb(231, 163, 174);
    margin: 2%;
    padding: 30px 10px;
    border-radius: 20px;
}
#develop-limit{
    margin-right: 10px;
    padding: 25px 50px;
}
.covid{
    text-align: center;
}
#Nineteen{
    color: orange;
}
#blue{
    color: blue;
}
.footer-button{
    background-color: black;
    text-align: center;
    padding: 10px;
}   
.footer-button a{
    color: white;
    text-decoration: none;
    margin: 20px;
}
.footer-button p{
    color: white;
    margin-top: 20px;
}
.purple-color{
    color: whitesmoke;
}
.orange-color{
    color: orangered;
    
}
